name: Python package

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
      - uses: actions/checkout@v2
      - name: Publish Python Package
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          publish-package: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        working-directory: 
        run: |
          cd ${{ github.workspace }}/src
          pip install -r requirements.txt
          pip install ase numpy==1.20.0 scikit-learn
          pip install https://raw.githubusercontent.com/stanfordbshan/HTMACat-kit/master/requires_wheel/FireWorks-2.0.3-py3-none-any.whl
          pip install https://raw.githubusercontent.com/stanfordbshan/HTMACat-kit/master/requires_wheel/CatKit-0.5.4-py3-none-any.whl
          python setup.py bdist_wheel
          cd ${{ github.workspace }}/src/dist
          pip install *.whl

      - name: Test with pytest
        run: |
          cd ${{ github.workspace }}/example/coadsorption
          coads
          cd ${{ github.workspace }}/example/adsorption
          ads

      - name: Build wheel and source distribution
        run: |
          cd src
          python setup.py sdist bdist_wheel

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload wheel and source distribution
        uses: actions/upload-artifact@v2
        with:
          name: wheel and source distribution
          path: |
            src/dist/*
