name: publish HtmaCat-kit to release

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - ready_for_review
      - review_requested

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - name: Publish Python Package
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Build wheel and source distribution
        run: |
          cd src
          pip install setuptools wheel
          python setup.py sdist bdist_wheel

      - name: Release version and repo link
        id: release_version
        run: |
          cd src
          app_version=$(cat setup.py | grep version | sed "s/version='\([0-9]\+\.[0-9]\+\.[0-9]\+\)',/\1/" | sed s/[[:space:]]//g)
          echo "app_version=$app_version" >> $GITHUB_ENV
          echo "app_version=$app_version"
          repo_link=$(git config --get remote.origin.url)
          echo "repo_link=$repo_link" >> $GITHUB_ENV
          api_url="https://api.github.com/repos/${repo_link:19:-4}/releases/latest"
          echo "api_url=$api_url" >> $GITHUB_ENV

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: src/dist/*.whl
          tag: v${{env.app_version}}
          release_name: v${{env.app_version}}
          overwrite: true
          file_glob: true
          body: ${{github.event.head_commit.message}}

      - name: Update Readme
        run: |
          link=$(curl -s ${{env.api_url}} | grep "browser_download_url.*\.whl" | cut -d : -f 2,3 | tr -d \")
          sed -i "s|https://github.com/${${{env.repo_link}}:19:-4}/releases/download/[^/]*/.*\.whl|$link|g" README.md

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          add: README.md
          message: Updated wheel link in README
